<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What are the Carpentries?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://software-carpentry.org/">Software Carpentry</a> and <a href="http://www.datacarpentry.org/">Data Carpentry</a> are sibling organizations who share a mission to
                                        teach foundational computational and data science skills to researchers. <a href="https://software-carpentry.org/lessons">Software Carpentry lessons</a> and <a href="http://www.datacarpentry.org/lessons">Data Carpentry</a> are all open source, and are hosted on GitHub. They have merged their organizations to form The Carpentries, but will maintain their distinct profiles.</p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What is a Carpentries Workshop?</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://software-carpentry.org/workshops/">Software Carpentry workshops</a> or <a href="http://www.datacarpentry.org/workshops/">Data Carpentry workshops</a> generally comprise two full days of face-to-face instruction, based on either <a href="https://software-carpentry.org/lessons">Software Carpentry lesson materials</a> or <a href="http://www.datacarpentry.org/lessons">Data Carpentry lesson materials</a>. 
                                        The instructor live codes and learners follow along. Workshops can be any size.
                                     <a href="http://www.datacarpentry.org/checklists/">See our workshop checklists.</a>
                                                                    </div>
                            </div>
                        </li>

                            
                    
                    
                                            <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How are Software and Data Carpentry Managed?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are non-profit organizations. The merged Carpentries is governed by an Executive Council which comprises four community-elected members and five appointed members drawn from the previous Steering Committees of Software and Data Carpentry.</p></div>
                            </div>
                        </li>
                    
                      <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Us!
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                 <p class="text-muted">Organisations are encouraged to <a href="https://software-carpentry.org/membership/">join us to support the work we do.</a> </p>
                                 <p class="text-muted">We welcome <a href="https://software-carpentry.org/join/">new people</a> to our community.</p>
                                 <p class="text-muted">We have <a href="https://software-carpentry.org/join/">many ways to engage</a>, including:</p>
                                 <p class="text-muted">Twitter, slack, our newsletter, our email lists, community calls, meetups.</p>
                            </div>
                        </li>
                    
                         
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
