    <!-- Header -->
    <header>
	        <div class="container">
	            <div class="intro-text">
	                <div class="intro-lead-in">We teach computational and data skills for researchers</div>
	                <div class="intro-heading">Welcome to the Carpentries</div>
			<div class="intro-lead-in">Workshops, lessons, community</div>
	                <a href="#services" class="page-scroll btn btn-xl">Find Out More</a>
	            </div>
	        </div>
	    </header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
