<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Workshops</h2>
                    <!-- <h3 class="section-subheading text-muted">Current lessons.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Our workshops</h3>
                    <p>Find links to all current <a href="https://software-carpentry.org/lessons/">Software Carpentry lessons</a>, including some lessons translated into Spanish, and some community-contributed lessons.</p>
                                        <p>Information on attribution, and on how to contribute to lessons, is also held here.</p>
                                        
<p>Find links to all current <a href="https://datacarpentry.org/lessons/">Data Carpentry lessons</a>. Information on attribution, and on how to contribute to lessons, is also held here.</p>
                    <p>All Carpentries Workshops are run by a team. Ideally this will consist of a host (who is the principal local
                                        contact for the workshop), certified instructors (who present the material and
                                        lead the practical exercises), a lead instructor (who ensures the teaching aspects
                                        of the workshop go smoothly), and helpers (who provide assistance during practical sessions). <a href="http://www.datacarpentry.org/checklists/">See our checklists.</a></p>
                </div>
            </div>
        </div>
    </section>
